# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environnement virtuel
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Secrets / config locale
compta_matieres/settings_local.py
.env

# Éditeurs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
